body {
	margin: 0;
	padding: 0;
	/* background-image: url('/rBg.jpg'); */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'Exo 2', sans-serif;
}

nav {
	display: flex;
	background-color: rgb(39, 126, 161);
	color: #fff;
	padding: 10px;
	height: 38px;
	align-items: center;
	justify-content: space-between;
	padding-left: 30px;
	padding-right: 25px;
	/* overflow: hidden;
	position: fixed;
	top: 0;
	width: 97%;
	margin-bottom: 130px; */
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul li {
	margin: 0 10px;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
}

nav ul li a:hover {
	background-color: #555;
}

#logo {
	margin-top: 5px;
	width: 70px;
	height: 70px;
}

#main {
	/* border: 1px solid black; */
	display: flex;
	justify-content: space-between;
}

#B1 {
	/* border: 1px solid black; */
	width: 18%;
	/* height: 50vh; */
	margin-top: 0.1px;
}

#B1 div {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0.1px solid black;
	/* border-top: none; */
	height: 70px;
	font-size: 20px;
	background-color: rgb(41, 139, 178);
	font-weight: bold;
}

#B2 {
	/* border: 1px solid black; */
}

#customer a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

#customer:hover {
	background-color: rgb(30, 107, 138);
}

#operator:hover {
	background-color: rgb(30, 107, 138);
}

#operator a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}
#operator {
	border-top: none;
}

#name {
	margin-left: 300px;
}
