body {
	background-image: url('/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 95vh;
	margin: 0;
	padding: 0;
}

.login-container {
	margin-left: 950px;
	margin-top: 300px;
	/* height: 100px; */
	/* border: 1px solid black; */
	width: 350px;
	height: 250px;
}

input {
	background-color: rgb(102, 179, 209);
	margin-top: 15px;
	width: 340px;
	height: 25px;
	border-radius: 80px;
	padding-left: 20px;
	border: 1px solid rgb(100, 179, 211);
	color: black;
}
::placeholder {
	font-weight: bold;
	padding: 8px;
	color: rgb(255, 255, 255);
}

select {
	background-color: rgb(102, 179, 209);
	margin-top: 15px;
	width: 360px;
	height: 30px;
	border-radius: 80px;
	padding-left: 20px;
	border: 1px solid rgb(102, 179, 209);
	color: black;
}
#op1 {
	font-weight: bold;
	color: white;
}

button {
	border: 1px solid rgb(102, 179, 209);
	font-weight: bold;
	color: white;
	background-color: rgb(44, 140, 179);
	width: 100px;
	height: 30px;
	border-radius: 80px;
	margin-top: 35px;
	margin-left: 135px;
}
button:hover {
	background-color: #13629b;
}

h3 {
	padding-top: 15px;
	margin-left: 1300px;
	color: white;
	font-weight: bold;
}

nav {
	display: flex;
	background-color: rgb(21, 68, 86);
	color: #fff;
	padding: 10px;
	height: 38px;
	align-items: center;
	justify-content: space-between;
	padding-left: 30px;
	padding-right: 50px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul li {
	margin: 0 10px;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
}

nav ul li a:hover {
	background-color: #555;
}

#logo {
	margin-top: 5px;
	width: 140px;
	height: 140px;
}

#newPage {
	margin-top: 30px;
	margin-left: 1070px;
	text-decoration: none;
	color: rgb(14, 88, 88);
}
